@font-face {
   font-family: Poppins;
   src: url(../fonts/Poppins.ttf);
}
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
   width: 12px;
}
*::-webkit-scrollbar-track {
   background: #404047;
}
*::-webkit-scrollbar-thumb {
   background-color: #94949c;
   border-radius: 0.25rem;
}
*{
   /* Works on Firefox */
   scrollbar-width: 12px;
   scrollbar-color: #94949c #404047;
   font-family: 'Poppins', sans-serif;
   box-sizing: border-box;
}
body{
   display: flex;
   align-items: center;
   flex-direction: column;
   margin: 0;
   background: #303037;
}

/*Navbar*/
.nav {
   height: 70px;
   width: 100%;
   background-color: transparent;
   position: relative;
   z-index: 4;
}

.nav .nav-header {
   display: inline;
}

#logo{
   display: flex;
   margin-left: 100px;
   text-decoration: none;
   color: #2F4858;
   font-size: 27px;
   font-weight: bold;
   font-style: italic;
   padding-right: 5px;
   padding-left: 2px;
}
#logo img {
   margin-top: 12px;
}
#logo p{
   margin-top: 12px;
}
.nav  .nav-header  .nav-title {
   display: inline-block;
   font-size: 22px;
   padding: 10px 10px 10px 10px;
}

.nav  .nav-btn {
   display: none;
}

.nav  .nav-links {
   display: inline;
   float: right;
   font-size: 1.1em;
   margin-top: 10px;
   margin-right: 80px;
}

.nav  .nav-links  a {
   letter-spacing: 2px;
   display: inline-block;
   padding: 13px 10px 13px 10px;
   text-decoration: none;
   color: white;
}

.nav  .nav-links  a:hover {
   color: lightgray;
   border-bottom: 2px solid lightgray;
}

.nav  #nav-check {
   display: none;
}

/* Cover-photo....................... */
.C-Indonesia{
   height: 630px;
   width: 100%;
}

.Cover{
   background: url("../images/Indonesia/Cover.jpeg") no-repeat;
   background-size: 100% 100%;
   width: 1520px;
   height: 700px;
}


/*Middle Section*/
.Article-box {
   border-radius: 0.25rem;
   width: 1080px;
   height: 3940px;
   padding: 40px;
   background: #303037;
   box-shadow: rgba(25, 25, 25, 0.6) 0 10px 20px, rgba(25, 25, 25, 0.4) 0 6px 6px;
}
.Article-box img {
   border-radius: 0.25rem;
   width: 1000px;
   height: 600px;
}

.Article-box h3 {
   font-weight: 300;
   font-size: 1.2em;
}

.Article-box p {
   color: #94949c;
   font-weight: 300;
   font-size: 1.05em;
}
.topicName{
   color: rgb(193, 78, 6);
   font-size: 30px;
}
.paragraphName{
   color: rgb(159, 159, 245);
}

/* FOOTER */
.footer {
   width: 100%;
   background: #00121b;
   display: block;
   margin-top: 40px;
}

.inner-footer {
   width: 95%;
   margin: auto;
   padding: 30px 10px;
   display: flex;
   flex-wrap: wrap;
   box-sizing: border-box;
   justify-content: center;
}
.footerLogo{
   display: flex;
   text-decoration: none;
}
.footerLogo img{
   margin-top: 18px;
}
.footer-items {
   width: 25%;
   padding: 10px 20px;
   box-sizing: border-box;
   color: #fff;
}

.footer-items p {
   font-size: 14px;
   text-align: justify;
   line-height: 25px;
   color: #fff;
}

.footer-items h1 {
   color: #fff;
   font-style: italic;
   font-size: 27px;
   font-weight: bold;
}

.border1 {
   height: 3px;
   width: 40px;
   background: #019c88;
   color: #019c88;
   border: 0;
   margin-top: 18px;
}

.footer ul {
   list-style: none;
   font-size: 15px;
}

.footer ul a {
   text-decoration: none;
   outline: none;
   color: #fff;
   transition: 0.3s;
}

.footer ul a:hover {
   color: #019c88;
}

.footer ul li {
   margin: 10px 0;
   height: 25px;
}

li i {
   margin-right: 20px;
}

.social-media {
   display: flex;
   justify-content: center;
   width: 100%;
   color: #fff;
   font-size: 20px;
   padding-right: 80px;
}

.social-media a {
   text-decoration: none;
}

.social-media img {
   height: 30px;
   width: 30px;
   margin: 10px 10px;
   padding: 4px;
   color: #fff;
   transition: 0.5s;
}

.social-media i:hover {
   transform: scale(1.5);
}

.footer-bottom {
   background: #00121b;
   color: #fff;
   font-size: 12px;
   text-align: center;
   padding-bottom: 10px;
}

@media screen and (max-width: 660px) {
   .footer-items {
      width: 100%;
   }
}

@media (max-width: 1010px) {
   .nav .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0;
      top: 0;
   }

   .nav .nav-btn label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
   }

   .nav .nav-btn label:hover, .nav #nav-check:checked ~ .nav-btn label {
      background-color: transparent;
   }

   .nav .nav-btn label span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #35d918;
   }

   .nav .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: transparent;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
   }

   .nav .nav-links a {
      display: block;
      width: 100%;
   }

   .nav #nav-check:not(:checked) ~ .nav-links {
      height: 0;
   }

   .nav #nav-check:checked ~ .nav-links {
      height: calc(50vh - 50px);
      overflow-y: auto;
   }

   .topSection {
      padding-top: 23%;
   }
}