/*..............Swagata Roy..............*/
@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins.ttf);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #404047;
}

*::-webkit-scrollbar-thumb {
    background-color: #94949c;
    border-radius: 0.25rem;
}

* {
    /* Works on Firefox */
    scrollbar-width: thin;
    scrollbar-color: #94949c #404047;

    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: #303037;
}

/*Navbar*/
.nav {
    height: 70px;
    width: 100%;
    background-color: transparent;
    position: relative;
    z-index: 4;
}

.nav .nav-header {
    display: inline;
}

#logo {
    display: flex;
    margin-left: 100px;
    text-decoration: none;
    color: white;
    font-size: 27px;
    font-weight: bold;
    font-style: italic;
    padding-right: 5px;
    padding-left: 2px;
}

#logo img {
    margin-top: 12px;
}

#logo p {
    margin-top: 12px;
}

.nav .nav-header .nav-title {
    display: inline-block;
    font-size: 22px;
    padding: 10px 10px 10px 10px;
}

.nav .nav-btn {
    display: none;
}

.nav .nav-links {
    display: inline;
    float: right;
    font-size: 1.1em;
    margin-top: 10px;
    margin-right: 80px;
}

.nav .nav-links a {
    letter-spacing: 2px;
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #303037;
}

.nav .nav-links a:hover {
    color: whitesmoke;
    border-bottom: 2px solid whitesmoke;
}

.nav #nav-check {
    display: none;
}

.head {
    background: url("../images/home.jpg") no-repeat;
    background-size: 100% 100%;
}

/*1st Section*/
.topSection {
    height: 700px;
    padding-top: 10%;
    width: 100%;
}
.topSectionBlur{
    margin-top: 1%;
    height: 315px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 8%;
    background: rgba(25, 25, 25, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 0.25rem;

}
.topSection iframe {
    border-radius: 0.25rem;
    border: none;
    box-shadow: rgba(25, 25, 25, 0.6) 0 10px 20px, rgba(25, 25, 25, 0.4) 0 6px 6px;
}
#topSectionText {
    margin-right: 2%;
    border-radius: 0.25rem;
}

#topSectionText h1{
    font-size: 2em;
    letter-spacing: 4px;
    color: #EBFDF9;
}

#topSectionText p{
    width: 600px;
    font-size: 1.2em;
    font-weight: 300;
    font-style: italic;
    color: white;
}

.responsive-youtube {
    margin-left: 2%;
}

@media (min-width: 0) and (max-width: 425px) {
    .responsive-youtube {
        width: 100%;
        height: 198px;
    }
}

/*2nd Section*/
.secondSection {
    margin-top: 80px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 80px;
}

.secondSection img {
    border-radius: 0.25rem;
    width: 480px;
    height: 310px;
}

.secondSectionText{
    width: 460px;
}
.secondSectionText h1{
    color: white;
}

.secondSectionText p {
    color: #94949c;
    font-weight: 300;
}

/*3rd Section*/
.thirdSectionText {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.thirdSectionText h1 {
    margin: 10px;
    color: white;
    font-size: 35px;

}

.thirdSectionText p {
    color: #94949c;
    font-weight: 300;
    font-size: 1.4em;
}

.box-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.box {
    width: 330px;
    height: 474px;
    padding: 10px;
    border-radius: 0.25rem;
    box-shadow: rgba(25, 25, 25, 0.6) 0 10px 20px, rgba(25, 25, 25, 0.4) 0 6px 6px;
}

.boxImage {
    margin-left: 4px;
    margin-top: 4px;
    width: 300px;
    height: 256px;
    border-radius: 0.25rem;
}

.box h2 {
    text-align: center;
    color: white;
    }

.readMore {
    margin-left: 104px;
    border-radius: 0.25rem;
    border: 1px solid #019c88;
    background-color: #019c88;
    font-size: 15px;
    padding: 6px;
    font-weight: 300;
    outline: none;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    color: #303037;
}
.readMore:hover {
    background: transparent;
    color: #019c88;
}

#More {
    width: 80px;
    padding: 6px;
    border-radius: 0.25rem;
    border: 1px solid #019c88;
    background-color: #019c88;
    font-size: 15px;
    font-weight: 300;
    outline: none;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    color: #303037;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

#More:hover {
    background: transparent;
    color: #019c88;
}

/*4th Section*/
.fourthSection {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-bottom: 80px;
}

.fourthSectionText {
    width: 600px;
}

.fourthSectionText h1{
    color: white;
    font-size: 35px;
}

.fourthSectionText p{
    color: #94949c;
    font-weight: 300;
    font-size: 1.2em;
}

.fourthSectionText img {
    width: 100px;
    height: 20px;
}

.fourthSectionImage {
    width: 400px;
    height: 380px;
}
/*5th Section*/
.fifthSection {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-bottom: 100px;
}
.fifthSectionBox{
    width: 380px;
    padding: 20px;
    border-radius: 0.25rem;
    box-shadow: rgba(25, 25, 25, 0.6) 0 10px 20px, rgba(25, 25, 25, 0.4) 0 6px 6px;
}

.fifthSectionBox h1{
    color: white;
}

.fifthSectionBox p{
    color: #94949c;
    font-weight: 300;
    font-size: 1.2em;
}

#FindUs a{
    font-size: 0.9em;
    color: #FFA17A;
    font-style: italic;
}

.button{
    border-radius: 0.25rem;
    border: 1px solid #019c88;
    background-color: #019c88;
    font-size: 15px;
    padding: 6px;
    font-weight: 300;
    outline: none;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    color: #303037;
    font-style: normal;
}

.button:hover{
    background: transparent;
    color: #019c88;
}

/*6th Section*/
.sixthSection {
    display: flex;
    justify-content: center;
}

.card {
    width: 40rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.25rem;
    background-color: #303037;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.image {
    width: 30%;
    display: flex;
    align-items: center;
}

.image img {
    width: 100%;
    height: 100% !important;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.subscribe {
    flex: 1;
    margin-left: 2rem;
    color: #fff;
}

.subscribe p {
    margin: 1rem 0;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
}

.subscribe form {
    display: flex;
    align-items: center;
}

.subscribe form input {
    padding: 0.75rem;
    border-radius: 0.25rem;
    outline: none;
    border: 1px solid #94949c;
    background: transparent;
    color: #94949c;
    font-weight: 300;
}

.subscribe form button {
    padding: 0.75rem;
    border-radius: 0.25rem;
    outline: none;
    margin-left: 0.5rem;
    border: 1px solid #019c88;
    background-color: #019c88;
    color: #303037;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.subscribe form button:hover {
    background: transparent;
    color: #019c88;
    transition: 0.3s;
}

/* FOOTER */
.footer {
    width: 100%;
    background: #00121b;
    display: block;
    margin-top: 60px;
}

.inner-footer {
    width: 95%;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}
.footerLogo{
    display: flex;
    text-decoration: none;
}
.footerLogo img{
    margin-top: 18px;
}
.footer-items {
    width: 25%;
    padding: 10px 20px;
    box-sizing: border-box;
    color: #fff;
}

.footer-items p {
    font-size: 14px;
    text-align: justify;
    line-height: 25px;
    color: #fff;
}

.footer-items h1 {
    color: #fff;
    font-style: italic;
    font-size: 27px;
    font-weight: bold;
}

.border1 {
    height: 3px;
    width: 40px;
    background: #019c88;
    color: #019c88;
    border: 0;
}

.footer ul {
    list-style: none;
    font-size: 15px;
}

.footer ul a {
    text-decoration: none;
    outline: none;
    color: #fff;
    transition: 0.3s;
}

.footer ul a:hover {
    color: #019c88;
}

.footer ul li {
    margin: 10px 0;
    height: 25px;
}

li i {
    margin-right: 20px;
}

.social-media {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #fff;
    font-size: 20px;
    padding-right: 80px;
}

.social-media a {
    text-decoration: none;
}

.social-media img {
    height: 30px;
    width: 30px;
    margin: 10px 10px;
    padding: 4px;
    color: #fff;
    transition: 0.5s;
}

.social-media i:hover {
    transform: scale(1.5);
}

.footer-bottom {
    background: #00121b;
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding-bottom: 10px;
}

@media screen and (max-width: 660px) {
    .footer-items {
        width: 100%;
    }
}

@media (max-width: 1010px) {
    .nav .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .nav .nav-btn label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav .nav-btn label:hover, .nav #nav-check:checked ~ .nav-btn label {
        background-color: transparent;
    }

    .nav .nav-btn label span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #35d918;
    }

    .nav .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: transparent;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
    }

    .nav .nav-links a {
        display: block;
        width: 100%;
    }

    .nav #nav-check:not(:checked) ~ .nav-links {
        height: 0;
    }

    .nav #nav-check:checked ~ .nav-links {
        height: calc(50vh - 50px);
        overflow-y: auto;
    }

    .topSection {
        padding-top: 23%;
    }
}


 



